{% extends 'base.html.twig' %}

{% block title %}Hello EntradaTablaFormController!
{% endblock %}

{% block body %}
	{{ form_start (formulario) }}

	{{ form_end(formulario) }}
		<table class="table-fill">
			<thead>
				<tr>
					<th class="text-left">Motivo</th>
					<th class="text-left">Fecha</th>
                    <th class="text-left">Puntos</th>
				</tr>
			</thead>
			<tbody class="table-hover">
	            {% for entrada in entradas %}
					<tr>
						<td class="text-left">
							{{entrada.Descripcion}}
						</td>
						<td class="text-left">
							{{entrada.Fecha | date('d-m-Y')}}
						</td>
                        <td class="text-left">
							{{entrada.puntos}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
